<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A modern publishing platform Grow your audience and build your
online brand">
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../images/favicon-32x32.png"
    /> -->

    <title>Blogr Landing page</title>

    <!--  Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap" rel="stylesheet"
    />

    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap" rel="stylesheet"
    />
  </head>
  <body>
    <!-- - Header - -->
    <header id="header" class="header">
      <div class="header__bg">
        <!-- Menu -->
        <div class="menu">
          <a href="#"><div class="header__logo"></div></a>

          <div class="hamburger-btn"></div>
          <div class="close-btn"></div>

          <div class="menu__content">
                <div class="menu__primary-items">
                  <!-- generated dynamically (create items inside another secondary items) (js) -->
                </div>
            
                <hr class="between-items" />
            
                <ul class="menu__secondary-items">
                  <li class="btn "><a href="#">login</a></li>
                  <li class="btn"><a href="#">sign up</a></li>
                </ul>
          </div>
        </div>

        <!-- NavBar -->
        <nav class="nav">
          <a href="#">
            <div class="header__logo"></div>
          </a>
        
          <div class="nav__content">
            <div class="nav__primary-items">
              <!-- generated dynamically (create items inside another secondary items) (js) -->
            </div>
                
            <ul class="nav__secondary-items">
              <li class="btn "><a href="#">login</a></li>
              <li class="btn"><a href="#">sign up</a></li>
            </ul>
          </div>
        
        </nav>
        <!-- Hero -->
        <div class="hero">
          <div class="hero__heading">
            <div> <span> A </span> <span class="typing-animation">modern</span> </div>
            <span>publishing platform</span>
          </div>
          <h2 class="hero__p">
            Grow your audience and build your <span>online brand</span>
          </h2>

          <div class="hero__cta">
            <div class="btn" ><a href="#" >start for free</a></div>
            <div class="btn" ><a href="#">learn more</a></div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main sections -->
    <main>

    <section id='editor' class="editor flex-column">
      <h2 class="editor__header animated-h">Designed for the future</h2>
      
      <div class="editor__img-desktop animated-img-left"></div>
      
      <div class="editor__container flex-column">

        <div class="editor__img-wrapper">
          <div class="editor__img-mobile animated-img-left"></div>
        </div>

        <div class="editor__content">
          <div class="text flex-column">
            <h3 class='animated-h'><span>Introducing an </span> extensible editor</h3>
            <p>
              Blogr features an exceedingly intuitive interface which lets you
              focus on one thing: creating content. The editor supports
              management of multiple blogs and allows easy manipulation of
              embeds such as images, videos, and Markdown. Extensibility with
              plugins and themes provide easy ways to add functionality or
              change the looks of a blog.
            </p>
          </div>

          <div class="text flex-column">
            <h3 class='animated-h'><span>Robust content</span> management</h3>
            <p>
              Flexible content management enables users to easily move through
              posts. Increase the usability of your blog by adding customized
              categories, sections, format, or flow. With this functionality,
              you're in full control.
            </p>
          </div> 
        </div>
      </div>
    </section>

    <!-- Phones section -->
    <section id="phones" class="phones">
      <div class="phones__img"></div>

      <div class="phones__container"> 
          <div class="circle-img"></div>
      
        <div class="phones__text flex-column">
          <h2 class='animated-h'>State of the Art Infrastructure</h2>
          <p>
            With reliability and speed in mind, worldwide data centers provide
            the backbone for ultra-fast connectivity. This ensures your site
            will load instantly, no matter where your readers are, keeping your
            site competitive.
          </p>
        </div>
      </div>
    </section>

    <!-- Laptop section -->
    <section id='laptop' class="laptop">
      <div class="laptop__container flex-column">

      <div class="laptop__img-desktop animated-img-right"></div>

        <div class="laptop__img-wrapper animated-img-right">
          <div class="laptop__img-mobile"></div>
        </div>

        <div class="laptop__content">
          <div class="text flex-column">
            <h3 class='animated-h'>Free, open, simple</h3>
            <p>
              Blogr is a free and open source application backed by a large
              community of helpful developers. It supports features such as code
              syntax highlighting, RSS feeds, social media integration,
              third-party commenting tools, and works seamlessly with Google
              Analytics. The architecture is clean and is relatively easy to
              learn.
            </p>
          </div>

          <div class="text flex-column">
            <h3 class='animated-h'>Powerful tooling</h3>
            <p>
              Batteries included. We built a simple and straightforward CLI tool
              that makes customization and deployment a breeze, but capable of
              producing even the most complicated sites.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
    <!-- End -->
    <footer id='footer' class="footer">
      <div class="footer__menu">
        <a href="#"><div class="footer__logo"></div></a>

        <table>
          <tr>
            <th class="">product</th>
          </tr>

          <tr class="table-links">
            <td class=""><a href="#">overview</a></td>
            <td class=""><a href="#">pricing</a></td>
            <td class=""><a href="#">marketplace</a></td>
            <td class=""><a href="#">features</a></td>
            <td class=""><a href="#">integrations</a></td>
          </tr>
        </table>

        <table>
          <tr>
            <th class="">company</th>
          </tr>

          <tr class="table-links">
            <td class=""><a href="#">about</a></td>
            <td class=""><a href="#">team</a></td>
            <td class=""><a href="#">blog</a></td>
            <td class=""><a href="#">careers</a></td>
          </tr>
        </table>

        <table>
          <tr>
            <th class="">connect</th>
          </tr>

          <tr class="table-links">
            <td class=""><a href="#">contact</a></td>
            <td class=""><a href="#">newsletter</a></td>
            <td class=""><a href="#">linkedIn</a></td>
          </tr>
        </table>

      </div>

      <div class="attribution">
        Coded by
        <a href="https://github.com/KhaledMostafa990">Khaled Farghly</a>.
        Design by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
          >Frontend Mentor</a
        >.
      </div>
    </footer>
    <!-- <script src="script.js"></script> -->
  </body>
</html>
