*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Overpass", sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  font-size: 1.6rem;
}

a {
  cursor: pointer;
  text-decoration: none;
}
