.header {
  max-width: 100%;
  height: 68rem;
}
.hero-content {
  width: 100%;
  height: 60rem;
  background-image: url(../images/bg-pattern-intro.svg),
    linear-gradient(135deg, var(--very-light-red-cta-mob), var(--light-red));
  background-repeat: no-repeat;
  background-size: 380%, 100%;
  background-position: 38% 36%, 0% 0%;
  border-bottom-left-radius: 10rem;
}
