.animated-h {
  position: relative;
  opacity: 0;
  top: 2rem;
}
.animated-img-left {
  position: relative;
  opacity: 0;
  left: 4rem;
}
.animated-img-right {
  position: relative;
  opacity: 0;
  right: 4rem;
}
p {
  position: relative;
  opacity: 0;
  right: 2rem;
}
.appear-to-top {
  animation: toTop var(--transition-speed-05) ease-in-out forwards;
}
.appear-to-left {
  animation: toLeft var(--transition-speed-03) ease-in-out
    var(--transition-speed-03) forwards;
}
.appear-to-right {
  animation: toRight var(--transition-speed-03) ease-in-out
    var(--transition-speed-03) forwards;
}
@keyframes toLeft {
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes toRight {
  to {
    opacity: 1;
    right: 0;
  }
}
@keyframes tobottom {
  to {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes toTop {
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes dropMenu {
  to {
    opacity: 1;
    bottom: 0;
    left: 0;
  }
}
@keyframes zoomIn {
  to {
    transform: scaleZ(1);
    opacity: 1;
  }
}
