@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
:root {
  --typing-speed: 2s;
  --typing-delay: 0.3s;
  --blink-speed: 0.75s;

  --transition-speed-05: 0.5s;
  --transition-speed-1: 1s;

  --transition-delay-05: 0.5s;
  --transition-delay-1: 1s;
  --transition-delay-1-75: 1.75s;
  --transition-delay-2-05: 2.5s;
  --transition-delay-2-75: 2.75s;
  /*  Primary */
  --light-red-cta-text: hsl(356, 100%, 66%);
  --very-light-red-cta-hover: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);

  /* Neutral */
  --white-text: hsl(0, 0%, 100%);
  --grayish-blue-footer-text: hsl(240, 2%, 79%);
  --very-dark-grayish-blue-body: hsl(207, 13%, 34%);
  --very-dark-black-blue-footer-background-: hsl(240, 10%, 16%);

  /*  Gradient */
  /* Background gradient - Intro/CTA mobile nav: */
  --very-light-red-cta-mob: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);

  /* Background gradient - body: */
  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #777;
  width: 100%;
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}
button {
  color: transparent;
  background-color: transparent;
}
.btn {
  cursor: pointer;
  height: 4.7rem;
  width: 13.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 5rem;
  text-transform: capitalize;
}
.btn--login-toggle {
  background: none !important;
  color: var(--very-dark-blue) !important;
}
.topBtn {
  background-color: hsl(356, 100%, 66%);
  background-image: url("../images/icon-arrow-light.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px, 7px;
  background-position-y: center;
  display: none;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 9999;
  border-radius: 50%;
  transform: rotate(180deg);
}
/* -- - Header - -- */

.header {
  max-width: 100%;
  height: 100vh;
  margin-bottom: 3rem;
}
.header-bg {
  width: 100%;
  height: 90%;
  background-image: url("../images/bg-pattern-intro.svg"),
    linear-gradient(135deg, var(--very-light-red-cta-mob), var(--light-red));
  background-repeat: no-repeat;
  background-size: 380%, 100%;
  background-position: 38% 36%, 0% 0%;
  border-bottom-left-radius: 10rem;
}

/*-- - Nav - --*/
.nav-wrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5.72rem 2.4rem;
}
.logo-wrapper {
  background-repeat: no-repeat;
  background-image: url("../images/logo.svg");
  background-size: 100%, 100%;
  width: 10.1rem;
  height: 4rem;
  opacity: 0;
  position: relative;
  left: -15rem;
  animation: toLeft var(--transition-speed-05) ease-in-out
    var(--transition-delay-05) forwards;
}
.nav {
  width: 90%;
  position: fixed;
  top: 15%;
  right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--white-text);
  box-shadow: 0.2rem 1rem 2rem rgba(0, 0, 0, 0.5);
  border-radius: 0.4rem;

  transition: all 0.4s ease-in-out;
  z-index: 99;
  opacity: 0;
}
.nav-primary-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu-items {
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3.13rem;
  margin-bottom: -0.5rem;
}
.item {
  background-image: url("../images/icon-arrow-dark.svg");
  background-repeat: no-repeat;
  background-size: 10px, 7px;
  background-position-y: center;
  background-position-x: 18rem;
  width: 100%;
  height: 100%;
}
.menu-items h4 {
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  color: var(--very-dark-blue);
  text-transform: capitalize;
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
}
.sub-menu {
  width: 80%;
  margin-top: 1.4rem;
  display: none;
  position: relative;
  opacity: 0.4;
  bottom: 18%;
  left: 6%;
}
.menu-items:hover > .sub-menu {
  display: block;
  animation: dropMenu 0.35s ease-out forwards alternate;
}

.menu-items:hover h4 {
  color: #ff816c;
}
.sub-menu ul {
  background-color: var(--grayish-blue-footer-text);
  border-radius: 0.15rem;
  box-shadow: 1.5px 3px 0.6rem #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2.6rem;
}
.sub-menu li {
  padding-bottom: 1rem;
  font-size: 1.8rem;
  text-transform: capitalize;
}
.sub-menu a {
  color: var(--very-dark-blue);
}
.sub-menu li:hover {
  animation: scale 0.25s forwards ease-in-out;
}
@keyframes scale {
  to {
    transform: scale(1.25);
  }
}
.menu-items:hover img {
  transform: rotate(-180deg);
}
.between-items {
  background-color: var(--grayish-blue-footer-text);
  width: 80%;
  height: 0.1rem;
  margin-top: 3.6rem;
}
.nav-secondary-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2.3rem;
  margin-bottom: 3.2rem;
}
.nav-secondary-items li {
  color: var(--very-dark-blue);
}
.nav-secondary-items a {
  color: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}
.nav-secondary-items li:first-child {
  margin-bottom: 0.7rem;
}
.nav-secondary-items li:first-child:hover {
  background: linear-gradient(
    135deg,
    var(--very-light-red-cta-hover),
    var(--light-red)
  );
  color: var(--white-text);
}
.nav-secondary-items li:last-child {
  background: linear-gradient(
    135deg,
    var(--very-light-red-cta-hover),
    var(--light-red)
  );
  color: var(--white-text);
}

.hamburger-btn {
  transition: transform 0.15s ease-out;
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  width: 32px;
  height: 18px;
  opacity: 0;
  position: relative;
  right: -15rem;
  animation: toRight var(--transition-speed-05) ease-in-out
    var(--transition-delay-05) forwards;
}

.close-btn {
  opacity: 0;
  visibility: hidden;
  transform: scaleX(0);
  z-index: 999;
  position: fixed;
  top: 6rem;
  right: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-out;
  background-image: url("../images/icon-close.svg");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  width: 26px;
  height: 26px;
}
.hide-h-Btn {
  transform: scaleX(0);
  opacity: 0;
  visibility: hidden;
}
.show-c-Btn {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.show-menu {
  display: flex;
  opacity: 1;
  right: 5%;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5.5rem;
  z-index: 199;
}
.showcase-heading {
  color: var(--white-text);
  font-size: 3.2rem;
  font-weight: 600;
  padding-bottom: 1.7rem;
  text-align: center;
}
.showcase-heading span:last-child:first-of-type {
  position: relative;
  bottom: 2rem;
  opacity: 0;
  animation: tobottom var(--transition-speed-05) ease-in-out
    var(--transition-delay-1-75) forwards;
}

.typing-animation {
  font-family: "Space Mono", monospace;
  font-weight: 600;
  position: relative;
  width: max-content;
}
.typing-animation::before,
.typing-animation::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.typing-animation::before {
  background-color: #ff7668;
  animation: typing var(--typing-speed) steps(6) var(--typing-delay) forwards;
}
.typing-animation::after {
  width: 0.2rem;
  background-color: var(--white-text);
  animation: typing var(--typing-speed) steps(6) var(--typing-delay) forwards,
    blink var(--blink-speed) steps(6) infinite;
}
@keyframes typing {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background-color: transparent;
  }
}
.showcase-p {
  color: var(--white-text);
  font-size: 1.8rem;
  padding-bottom: 4.55rem;
  font-weight: 300;
  text-align: center;
  opacity: 0;
  position: relative;
  top: 4rem;
  opacity: 0;
  animation: toTop var(--transition-speed-05) ease-in-out
    var(--transition-delay-2-05) forwards;
}
.showcase-p span {
  display: block;
}
.showcase-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 77%;
}
.showcase-cta a {
  color: inherit;
}
.showcase-cta div {
  border: 2px solid var(--white-text);
}
.showcase-cta div:first-child {
  background-color: var(--white-text);
  color: var(--light-red-cta-text);

  opacity: 0;
  position: relative;
  left: 1.5rem;
  opacity: 0;
  animation: toLeft var(--transition-speed-05) ease-in-out
    var(--transition-delay-2-75) forwards;
}
.showcase-cta div:last-child {
  color: var(--white-text);

  opacity: 0;
  position: relative;
  right: 1.5rem;
  opacity: 0;
  animation: toRight var(--transition-speed-05) ease-in-out
    var(--transition-delay-2-75) forwards;
}
.showcase-cta div:last-child:hover {
  background-color: var(--white-text);
  color: var(--light-red-cta-text);
}
.btn--cta-toggle {
  background: none !important;
  color: var(--white-text) !important;
}

/* ***************************************************************** */
/**   Editor section  **/
.editor {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 22rem;
}
.editor-heading {
  text-align: center;
  color: var(--very-dark-blue);
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.editor-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.editor-image {
  background-image: url("../images/illustration-editor-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  width: 100%;
  height: 331px;
  margin-bottom: 3rem;
}
.editor-content {
  width: 100%;
}
.editor-content .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
}
.editor-content .text h3 {
  font-size: 2.7rem;
  font-weight: 700;
  color: var(--very-dark-blue);
}
.editor-content .text:nth-of-type(1) h3 {
  padding-bottom: 1.45rem;
}
.editor-content .text:nth-of-type(2) h3 {
  padding-bottom: 2.2rem;
}
.editor-content .text h3 span {
  display: block;
}
.editor-content .text p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--very-dark-grayish-blue-body);
  padding: 0 4rem;
}

/* ***************************************************************** */
/**   Phones section  **/
.phones {
  max-width: 100%;
  max-height: 62.3rem;
  position: relative;
  margin-bottom: 6rem;
}
.phones-circle {
  background: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 62.3rem;
}
.cir-image {
  background-image: url("../images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: 150%, 100%;
  background-position-y: -23rem;
  background-position-x: -12rem;
  width: 100%;
  height: 1018px;
}
.phones-circle img {
  width: 155%;
  position: absolute;
  top: -25rem;
  left: -10.5rem;
  height: 100%;
}
.phones-content {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.phones-img-wrapper {
  width: 100%;
  width: 100%;
  position: absolute;
  top: -18.75rem;
}
.phones-img {
  background-image: url("../images/illustration-phones.svg");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  width: 100%;
  height: 579px;
}
.phones-img img {
  width: 100%;
  height: 40rem;
}
.phones-text {
  position: absolute;
  top: 22.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.phones-text h2 {
  font-size: 4rem;
  font-weight: 500;
  color: var(--white-text);
  text-align: center;
  padding-bottom: 1.8rem;
}
.phones-text p {
  line-height: 1.6;
  font-size: 1.72rem;
  font-weight: 400;
  color: var(--white-text);
  padding: 0 2rem;
  text-align: center;
  opacity: 0.7;
}

/* laptop section */

.laptop {
  max-width: 100%;
  max-height: 98.2933rem;
  overflow: hidden;
  margin-bottom: 6rem;
}
.laptop-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.laptop-img-container {
  width: 100%;
}
.laptop-img {
  background-image: url("../images/illustration-laptop-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  width: 100%;
  height: 359px;
}
.laptop-content {
  width: 100%;
}
.laptop-content .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
}
.laptop-content .text h3 {
  font-size: 2.7rem;
  font-weight: 700;
  color: var(--very-dark-blue);
  padding-bottom: 2.5rem;
}
.laptop-content .text p {
  line-height: 1.75;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--very-dark-grayish-blue-body);
  padding: 0 4rem;
}

/* Footer */

footer {
  max-width: 100%;
  max-height: 100%;
  border-top-right-radius: 10rem;
  background: linear-gradient(to right, hsl(240, 10%, 16%), hsl(240, 10%, 16%));
  padding: 0 10%;
}
.footer-logo {
  background-repeat: no-repeat;
  background-image: url("../images/logo.svg");
  background-size: 100%, 100%;
  width: 10.1rem;
  height: 4rem;
  margin-bottom: 6rem;
}
.footer-menu {
  padding-top: 7.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .logo {
  flex: 1 0 25%;
  margin-bottom: 7.5rem;
}
.footer .logo img {
  width: 9rem;
}
.footer-menu > table {
  flex: 3 0 25%;
}
.footer-menu th {
  color: var(--white-text);
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 2.9rem;
  text-align: center;
}
.table-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4.6rem;
}
.table-links td a {
  display: inline-block;
  color: var(--grayish-blue-footer-text);
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}
.table-links td:not(:last-child) a {
  padding-bottom: 1rem;
}
.attribution {
  color: var(--grayish-blue-footer-text);
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1.1rem;
}
.attribution a {
  color: var(--white-text);
}
/* 
@media screen and (min-width: 550px) {
  .header-content {
    background-image: url(../images/bg-pattern-intro.svg),
      linear-gradient(135deg, var(--very-light-red-cta-mob), var(--light-red));
    background-repeat: no-repeat;
    background-size: 280%, 100%;
    background-position: 35% 40%, 0% 0%;
  }
  .laptop-img-container img {
    width: 100%;
  }
  .phones-img img {
    width: 90%;
    height: 37.5rem;
  }
}
@media screen and (min-width: 768px) {
  .header-content {
    background-image: url(../images/bg-pattern-intro.svg),
      linear-gradient(135deg, var(--very-light-red-cta-mob), var(--light-red));
    background-repeat: no-repeat;
    background-size: 250%, 100%;
    background-position: 35% 45%, 0% 0%;
  }
  .editor-image-container .editor-img {
    height: 40rem;
  }
  .phones-img img {
    width: 80%;
    height: 35rem;
  }
  .laptop-img-container img {
    width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .header-content {
    background-image: url(../images/bg-pattern-intro.svg),
      linear-gradient(135deg, var(--very-light-red-cta-mob), var(--light-red));
    background-repeat: no-repeat;
    background-size: 200%, 100%;
    background-position: 25% 50%, 0% 0%;
  }
  .showcase-heading {
    font-size: 4.5rem;
  }
  .showcase-cta {
    width: 40%;
  }
  .editor-heading {
    font-size: 3.5rem;
  }
  .editor-image-container .editor-img {
    height: 45rem;
  }
  .phones-circle {
    height: 50rem;
  }
  .phones-img img {
    width: 70%;
    height: 35rem;
  }
  .phones-text h2 {
    font-size: 5rem;
  }
  .laptop-content .text h3 {
    font-size: 3rem;
  }
}  */
@keyframes toLeft {
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes toRight {
  to {
    opacity: 1;
    right: 0;
  }
}
@keyframes tobottom {
  to {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes toTop {
  to {
    opacity: 0.75;
    top: 0;
  }
}
@keyframes dropMenu {
  to {
    opacity: 1;
    bottom: 0;
    left: 0;
  }
}
