@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  .header__bg {
    background-size: 350%, 100%;
    background-position: 40% 46%, 0% 0%;
  }
  .hero__heading {
    font-size: 3.4rem;
  }
  .editor__container {
    flex-direction: row-reverse;
  }
  .editor__content {
    padding: 0 0 0 2rem;
  }
  .editor__content .text {
    align-items: start;
    text-align: start;
    margin-bottom: 1.5rem;
  }
  .editor__content .text h3 span {
    display: inline;
  }
  .phones {
    margin-top: 12rem;
  }
  .phones__img {
    top: 80%;
    left: 2%;
    transform: translate(0%, -50%);
    width: min(100%, 400px);
  }
  .phones__container {
    height: 32rem;
  }
  .circle-img {
    width: min(100%, 1014px);
  }
  .phones__text {
    width: 420px;
    transform: translate(0%, -10%);
  }
  .laptop__container {
    flex-direction: row;
  }
  .laptop__content {
    padding: 0 4rem 0 0;
  }
  .laptop__content .text {
    align-items: start;
    text-align: start;
    margin-bottom: 1.5rem;
  }
}
